Dokumente/Inhalt der SD.docx
KICAD/fp-info-cache
KICAD/sym-lib-table
KICAD/TonUINOv4-cache.lib
KICAD/TonUINOv4-rescue.bck
KICAD/TonUINOv4-rescue.dcm
KICAD/TonUINOv4-rescue.lib
KICAD/TonUINOv4.kicad_pcb
KICAD/TonUINOv4.kicad_pcb-bak
KICAD/TonUINOv4.pro
KICAD/TonUINOv4.sch
KICAD/TonUINOv4.sch-bak
